<div class="container">
  <div class="mt-5">
    <div class="row">
      <div class="card">
        <div class="card-header">  
          <div class="row">
  
            <div class=" col-auto col-sm-3 mb-3">
              <label for="organizerSingle">Territorios</label>
              <select class="form-select js-choice" id="organizerSingle" size="1" name="organizerSingle" [(ngModel)]="selectedTerritorio" (change)="onTerritorioChange()" data-options='{"removeItemButton":true,"placeholder":true}'>
                <option *ngFor="let territorio of territorios" [value]="territorio.ID">
                  {{ territorio.NAME }}
                </option>
              </select>
            </div>
  
            <div class=" col-auto col-sm-3 mb-3">
              <label for="organizerSingle">Distritos</label>
              <select class="form-select js-choice" id="organizerSingle" size="1" name="organizerSingle"  [(ngModel)]="selectedDistritos" (change)="onDistritosChange()" data-options='{"removeItemButton":true,"placeholder":true}'>
                <option *ngFor="let distrito of distritos" [value]="distrito.ID">
                  {{ distrito.NAME }}
                </option>
              </select>
            </div>
  
            <div class=" col-auto col-sm-3 mb-3">
              <label for="organizerSingle">Iglesias</label>
              <select class="form-select js-choice" id="organizerSingle" size="1" name="organizerSingle"  [(ngModel)]="selectedIglesias" (change)="onGetMiembros()" data-options='{"removeItemButton":true,"placeholder":true}'>
                <option *ngFor="let iglesia of iglesias" [value]="iglesia.ID">
                  {{ iglesia.NAME }}
                </option>
              </select>
            </div>
  
            <div class=" col-auto col-sm-3 mb-3 mt-4">
             <button class="btn btn-primary" (click)="openMiembroModal()">Nuevo Miembro <i class="fa fa-plus"></i> </button>
            </div>
  
          </div>
  
        </div>
          <div class="card-body">
              <div id="tableExample3" data-list='{"valueNames":["name","categoria","fechaReg","status"],"page":10,"pagination":true}'>
                  <div class="row justify-content-end g-0">
                    <div class="col-auto col-sm-5 mb-3">
                      <form>
                        <div class="input-group">
                          <input class="form-control form-control-sm shadow-none search" type="search" placeholder="Search..." aria-label="search" />
                          <div class="input-group-text bg-transparent"><span class="fa fa-search fs-10 text-600"></span></div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="table-responsive scrollbar">
                    <table class="table table-bordered table-striped fs-10 mb-0">
                      <thead class="bg-200">
                        <tr>
                          <th class="text-900 sort" data-sort="name">Nombres</th>
                          <th class="text-900 sort" data-sort="categoria">Categoria</th>
                          <th class="text-900 sort" data-sort="fechaReg">Fecha Reg</th>
                          <th class="text-900 sort" data-sort="status">Status</th>
                          <th class="text-900 sort">Acciones</th>
                        </tr>
                      </thead>
                      <tbody class="list">
                        <tr  *ngFor="let item of miembros">
                          <td class="name">{{item.NOMBRE}}</td>
                          <td class="categoria">{{item.CATEGORIA}}</td>
                          <td class="age">{{item.FECHA_REG}}</td>
                          <td [ngClass]="{'text-success': item.STATUS, 'text-danger': !item.STATUS}">
                            {{ item.STATUS ? 'Activo' : 'Inactivo' }}
                          </td>
                          <td class=""></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="d-flex justify-content-center mt-3">
                    <button class="btn btn-sm btn-falcon-default me-1" type="button" title="Previous" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                    <ul class="pagination mb-0"></ul>
                    <button class="btn btn-sm btn-falcon-default ms-1" type="button" title="Next" data-list-pagination="next"><span class="fas fa-chevron-right"> </span></button>
                  </div>
                </div>
          </div>
      </div>
  
  </div>
  </div>
</div>