<div class="row">

    <button type="button" class="btn btn-primary" (click)="openMiembroModal()">Abrir Modal</button>

    <div class="card">
        <div class="card-body">
            <div id="tableExample3" data-list='{"valueNames":["name","email","age"],"page":5,"pagination":true}'>
                <div class="row justify-content-end g-0">
                  <div class="col-auto col-sm-5 mb-3">
                    <form>
                      <div class="input-group">
                        <input class="form-control form-control-sm shadow-none search" type="search" placeholder="Search..." aria-label="search" />
                        <div class="input-group-text bg-transparent"><span class="fa fa-search fs-10 text-600"></span></div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="table-responsive scrollbar">
                  <table class="table table-bordered table-striped fs-10 mb-0">
                    <thead class="bg-200">
                      <tr>
                        <th class="text-900 sort" data-sort="name">Name</th>
                        <th class="text-900 sort" data-sort="email">Email</th>
                        <th class="text-900 sort" data-sort="age">Age</th>
                      </tr>
                    </thead>
                    <tbody class="list">
                      <tr>
                        <td class="name">Anna</td>
                        <td class="email">annac</td>
                        <td class="age">18</td>
                      </tr>
                      <tr>
                        <td class="name">Homer</td>
                        <td class="email">homerc</td>
                        <td class="age">35</td>
                      </tr>
                      <tr>
                        <td class="name">Oscar</td>
                        <td class="email">oscarc</td>
                        <td class="age">52</td>
                      </tr>
                      <tr>
                        <td class="name">Emily</td>
                        <td class="email">emilyc</td>
                        <td class="age">30</td>
                      </tr>
                      <tr>
                        <td class="name">Jara</td>
                        <td class="email">jarac</td>
                        <td class="age">25</td>
                      </tr>
                      <tr>
                        <td class="name">Clark</td>
                        <td class="email">clarkc</td>
                        <td class="age">39</td>
                      </tr>
                      <tr>
                        <td class="name">Jennifer</td>
                        <td class="email">jenniferc</td>
                        <td class="age">52</td>
                      </tr>
                      <tr>
                        <td class="name">Tony</td>
                        <td class="email">tonyc</td>
                        <td class="age">30</td>
                      </tr>
                      <tr>
                        <td class="name">Tom</td>
                        <td class="email">tomc</td>
                        <td class="age">25</td>
                      </tr>
                      <tr>
                        <td class="name">Michael</td>
                        <td class="email">michaelc</td>
                        <td class="age">39</td>
                      </tr>
                      <tr>
                        <td class="name">Antony</td>
                        <td class="email">antonyc</td>
                        <td class="age">39</td>
                      </tr>
                      <tr>
                        <td class="name">Raymond</td>
                        <td class="email">raymondc</td>
                        <td class="age">52</td>
                      </tr>
                      <tr>
                        <td class="name">Marie</td>
                        <td class="email">mariec</td>
                        <td class="age">30</td>
                      </tr>
                      <tr>
                        <td class="name">Cohen</td>
                        <td class="email">cohenc</td>
                        <td class="age">25</td>
                      </tr>
                      <tr>
                        <td class="name">Rowen</td>
                        <td class="email">rowenc</td>
                        <td class="age">39</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="d-flex justify-content-center mt-3">
                  <button class="btn btn-sm btn-falcon-default me-1" type="button" title="Previous" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                  <ul class="pagination mb-0"></ul>
                  <button class="btn btn-sm btn-falcon-default ms-1" type="button" title="Next" data-list-pagination="next"><span class="fas fa-chevron-right"> </span></button>
                </div>
              </div>
        </div>
    </div>

</div>