<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
  <div class="container" data-layout="container">
    <nav
      app-navbar-vertical
      class="navbar navbar-light navbar-vertical navbar-expand-xl"
    ></nav>

    <div app-main-content class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->
<app-setting-panel></app-setting-panel>
