

<div class="container">
  <div class="mt-5">
    <div class="card bg-dark text-white overflow-hidden" data-bs-theme="light" style="max-width: 30rem;">
      <div class="card-img-top"><img class="img-fluid" src="../../assets/img/generic/3.jpg" alt="Card image" /></div>
      <div class="card-img-overlay d-flex align-items-end">
        <div>
          <h5 class="card-title text-white">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  
  </div>
</div>



